{layout 'addrequesthelp.latte'}
{block sourceId}{App\Service\WigleDownload::ID_SOURCE}{/block}
{block askForDownloadURL}{link Download:addwiglerequest}{/block}
{block showAfterCancel}#beginWigleRequest{/block}