
    <p>Na mapě se Vám zobrazil obdélník, jenž si můžete libovolně upravovat. Jediné omezení je v jeho maximální možné velikosti.</p>
    <p>Po označení vámi vybrané plochy klikněte na tlačítko Požádat o stažení</p>
    <button onclick="createWigleRequest()">Požádat o stažení</button>
    <button onclick="cancelWigleRequest()">Zrušit</button>