html, body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
    height: 100%;
    margin: 0px;
    padding: 0px
}

h1 {
	color: #3484D2;
    margin: 5px;
}

h2 {
    margin: 5px;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}



#content {
    float: left;
    width: 80%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}


#mapa {
    height: 100%;
    width: 100%;
    float: left;

}
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#right-panel {
    height: 100%;
    width: 20%;
    background-color: #dddddd;
    float: left;
    overflow: scroll;
}

.padding-10 {
    padding: 10px;
}


#wigleCreateRequest {
    display: none;
}


.loader {
    display: none;
    width: inherit;
    height: 200px;
    background: rgba( 255, 255, 255, 0 )
    url('../images/spinner.gif')
    50% 50%
    no-repeat;
}
#ul-one-source {
    display: none;
}
.active {
    color: #007F00;
}

#frm-searchForm input {
    max-width: 140px;
}



.top {
    width: 100%;
    float: left;
    
}

.top .chart {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    height: 400px;

}

.left {
    width: 50%;
    height: 300px;
    float: left;
}

.right {
    height: 300px;
    width: 50%;
    float: right;
}
#totalStatistics {
    margin: 0 auto;
}
#totalStatistics tr td {
    font-size: 30px;
}

#totalStatistics tr td:first-child {
    text-align: right;
}

#security_history_chart,#sources_history_chart {
    width: 80%;
}